/bootstrap/compiled.php
/vendor
/app/config/*
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.sqlite
/app/config/app.php
/app/config/auth.php
/app/config/cache.php
/app/config/database.php
/app/config/mail.php
/app/config/remote.php
/app/config/session.php
/bootstrap/start.php
local/
node_modules
/*/.gitkeep
/*/.gitignore
/*/*/.gitignore
/*/*/.gitkeep
/*/*/*/.gitkeep
/*/*/*/.gitignore